---
import { getCollection } from "astro:content";

import Page from "../layouts/Page.astro";

const allPosts = await getCollection("posts");
---

<Page title="Home Page">
	<p>My page content, wrapped in a layout!</p>
	<ul>
		{
			allPosts.map((post) => (
				<li>
					<a href={post.slug}>{post.body}</a>
				</li>
			))
		}
	</ul>
</Page>
