---
import Page from '../layouts/Page.astro';
import { createGitHubReader } from '@keystatic/core/reader/github';
import keystaticConfig from '../../keystatic.config'

const reader = createGitHubReader(keystaticConfig, {
    repo: 'wiener-diarium/curved-conjunction',
    token: import.meta.env.KEYSTATIC_GITHUB_PAT,
});
const slugs = await reader.collections.posts.list();
console.log(slugs);
---

<Page title="Home Page">
  <p>My page content, wrapped in a layout!</p>
  <ul>
	{slugs.map(post => (
		<li>
			<a href={`/posts/${post}`}>{post}</a>
		</li>	
	))}
  </ul>
</Page>
