---
import EditionTable from "../components/EditionTable.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Inhaltsverzeichnis">
	<h1>Inhaltsverzeichnis</h1>

	<EditionTable />
</Page>
