---
import { readdir } from "node:fs/promises";

const entries = await readdir("edition", { withFileTypes: true });
---

<div>
	<ul>
		{
			entries.map((s) => {
				return (
					<li>
						<a href={`/edition/${s.name.replace(".html", "")}`}>{s.name}</a>
					</li>
				);
			})
		}
	</ul>
</div>
