---

---

<div class="flex flex-col py-4">
	<ul>
		<li class="my-6 h-2 px-2 text-white sm:my-2 md:my-2">
			<a
				id="show-on-scroll"
				href="#top_page"
				aria-label="Zurück zur ersten Seite"
				class="fade px-4"
			>
				<svg
					width="22"
					height="22"
					fill="currentColor"
					class="bi bi-arrow-up-square"
					viewBox="0 0 16 16"
				>
					<path
						fill-rule="evenodd"
						d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"
					></path>
				</svg>
			</a>
		</li>
		<li class="my-6 px-2 text-white sm:my-2 sm:hidden md:my-2 md:hidden">
			Suche im Text (regex erlaubt):
		</li>
		<li class="my-6 px-2 sm:my-2 sm:hidden md:my-2 md:hidden">
			<!-- <input type="checkbox" name="opt[]" value="separateWordSearch" checked="checked" />Wörter
		einzeln suchen -->
			<input
				type="text"
				name="keyword"
				class="h-12 w-full rounded border border-white p-2"
				placeholder="Schlagwort eingeben..."
			/>
		</li>
		<li class="my-6 px-2 sm:my-2 sm:hidden md:my-2 md:hidden">
			<div id="mark-scroll" class="fade-lang rounded border border-gray-100 bg-white text-center">
				<button class="text-xl" data-search="next" disabled="disabled">&#x2193;</button>
				<button class="text-xl" data-search="prev" disabled="disabled">&#x2191;</button>
				<button class="text-xl" data-search="clear" disabled="disabled">✖</button>
				<div id="results-div"></div>
			</div>
		</li>
		<li class="my-6 px-2 sm:my-2 sm:hidden md:my-2 md:hidden">
			<image-switch opt="es" class="text-lg text-white"></image-switch>
		</li>
		<li class="my-6 px-2 sm:my-2 sm:hidden md:my-2">
			<font-size opt="fs" class="text-lg text-white"></font-size>
		</li>
		<li class="my-6 px-2 sm:my-2 sm:hidden md:my-2">
			<font-family opt="ff" class="text-lg text-white"></font-family>
		</li>
		<li class="my-6 px-2 sm:my-2 md:my-2">
			<annotation-slider opt="lb" class="text-lg text-white"></annotation-slider>
		</li>
	</ul>
</div>
<style is:global>
	image-switch a {
		cursor: pointer;
	}

	image-switch a svg {
		margin-left: 5%;
	}

	small {
		font-size: 100%;
	}

	font-family select {
		width: 100%;
		height: 3rem;
		margin-top: 0.5rem;
		border: 1px solid #fff;
		border-radius: 0.35rem;
		color: #000;
		font-size: 1rem;
	}

	font-size select {
		width: 100%;
		height: 3rem;
		margin-top: 0.5rem;
		border: 1px solid #fff;
		border-radius: 0.35rem;
		color: #000;
		font-size: 1rem;
	}

	annotation-slider label {
		display: block;
		margin-top: 0.75rem;
	}

	.slider-number::after {
		position: relative;
		margin-top: -0.3rem;
		margin-left: 3.5rem;
		color: #fff;
	}
</style>
