---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"news">["data"];

const { title, pubDate, author } = Astro.props;
---

<div class="flex flex-col">
	<div class="container mx-auto py-6">
		<div class="border-b-2 text-gray-400">
			<p>{pubDate}</p>
			<p>{author}</p>
		</div>
		<div class="py-6">
			<h1 class="mb-8 text-center text-2xl">{title}</h1>
			<slot />
		</div>
	</div>
</div>
<style is:global>
	p img {
		align-self: center;
		width: 400px;
		margin: 1em auto;
	}

	.document p {
		margin: 1em auto;
		padding: 1em;
		font-size: 1.25em;
	}
</style>
