---

---

<div class="my-8">
	<div class="mx-auto w-6/12 px-5 py-4 align-middle">
		<div class="px-4 text-center">
			<h4 class="pt-2">NoSke Suche</h4>
			<div id="noske-search" class="w-full" style="margin: 0 auto;"></div>
		</div>
	</div>
</div>

<script>
	import { NoskeSearch } from "acdh-noske-search";

	const search = new NoskeSearch({
		base: "https://diarium-noske.acdh-dev.oeaw.ac.at",
		corpname: "diarium",
		viewmode: "kwic",
		attrs: "word,id",
		format: "json",
		structs: "doc,head,p,imprimatur,list",
		kwicrightctx: "100#",
		kwicleftctx: "100#",
		refs: "doc.id,p.id,head.id,imprimatur.id,list.id",
		pagesize: 20,
		fromp: 1,
		inputPlaceholder: "Suche nach Wörter, Phrase oder CQL-Query (Regex erlaubt)",
		customUrl: "https://wiener-diarium.github.io/curved-conjunction/edition",
	});

	search.search();
</script>
